:root {
  --spotifyGreen: #1db954;
  --spotifyBlack: #191414;
  --accentColor: #3b5998;
  --backgroundColor: #fafafa;
  --textColor: #4a4a4a;
  --primaryFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
